<button class="loop user-1" {{action 'testAction' sample 1}}><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 2}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 3}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 4}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 5}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 6}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop" {{action 'testAction' sample 7}} ><i class="fa fa-braille" aria-hidden="true"></i></button>
<button class="loop user-8" {{action 'testAction' sample 8}}><i class="fa fa-braille" aria-hidden="true"></i></button>
