<button class="start-loop" {{action 'startCount'}}>LOOP</button>

<div class="loop-group">

  <button class="loop kick-one" {{action 'kickAt' 1}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 2}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 3}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 4}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 5}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 6}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop" {{action 'kickAt' 7}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>
  <button class="loop kick-eight" {{action 'kickAt' 8}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>

  <button class="loop snare-one" {{action 'snareAt' 1}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 2}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 3}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 4}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 5}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 6}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop" {{action 'snareAt' 7}}><i class="fa fa-magic" aria-hidden="true"></i></button>
  <button class="loop snare-eight" {{action 'snareAt' 8}}><i class="fa fa-magic" aria-hidden="true"></i></button>

  {{choose-sound sample=selectAudio.chosen}}

</div>
