

<button class="loop" {{action 'kickAtOne'}}>Kick at 1</button>
<button class="loop" {{action 'kickAtTwo'}}>Kick at 2</button>
<button class="loop" {{action 'kickAtThree'}}>Kick at 3</button>
<button class="loop" {{action 'kickAtFour'}}>Kick at 4</button>
<button class="loop" {{action 'kickAtFive'}}>Kick at 5</button>
<button class="loop" {{action 'kickAtSix'}}>Kick at Six</button>
<button class="loop" {{action 'kickAtSeven'}}>Kick at 7</button>
<button class="loop" {{action 'kickAtEight'}}>Kick at 8</button>

<button class="loop" {{action 'snareAtOne'}}>Snare at 1</button>
<button class="loop" {{action 'snareAtTwo'}}>Snare at 2</button>
<button class="loop" {{action 'snareAtThree'}}>Snare at 3</button>
<button class="loop" {{action 'snareAtFour'}}>Snare at 4</button>
<button class="loop" {{action 'snareAtFive'}}>Snare at 5</button>
<button class="loop" {{action 'snareAtSix'}}>Snare at Six</button>
<button class="loop" {{action 'snareAtSeven'}}>Snare at 7</button>
<button class="loop" {{action 'snareAtEight'}}>Snare at 8</button>

<button class="loop" {{action 'startCount'}}>Start count</button>
