<button class='kickDrum' {{action 'kickDrum' on="mouseEnter"}}>Kick</button>

<button class='synthKickDrum' {{action 'synthKickDrum' on="mouseEnter"}}>Synth Kick</button>

<button class='snareDrum' {{action 'snareDrum' on="mouseEnter"}}>Snare</button>

<button class='snare2Drum' {{action 'snare2Drum' on="mouseEnter"}}>Snare 2</button>

<button class='rimShotDrum' {{action 'rimShotDrum' on="mouseEnter"}}>Rim Shot</button>

<button class='clapDrum' {{action 'clapDrum' on="mouseEnter"}}>Clap</button>

<button class='clap2Drum' {{action 'clap2Drum' on="mouseEnter"}}>Clap 2</button>

<button class='crashDrum' {{action 'crashDrum' on="mouseEnter"}}>Crash</button>

<button class='openHatDrum' {{action 'openHatDrum' on="mouseEnter"}}>Open Hat</button>

<button class='closedHatDrum' {{action 'closedHatDrum' on="mouseEnter"}}>Closed Hat</button>
