<div class="drum-top">
  <div class="knob">
  </div>

<div class="power-light">
</div>

  <div class="led-display">
    <i class="fa fa-eraser" aria-hidden="true"></i>
  </div>

  <div class="knob">
  </div>
</div>

<div class="button-wrapper">

  <button class="kickDrum" {{action 'kickDrum' on="mouseEnter"}}><i class="fa fa-bullseye" aria-hidden="true"></i></button>

  <button class="synthKickDrum" {{action 'synthKickDrum' on="mouseEnter"}}><i class="fa fa-keyboard-o" aria-hidden="true"></i></button>

  <button class="snareDrum" {{action 'snareDrum' on="mouseEnter"}}><i class="fa fa-magic" aria-hidden="true"></i></button>

  <button class="snare2Drum" {{action 'snare2Drum' on="mouseEnter"}}><i class="fa fa-bolt" aria-hidden="true"></i></button>

  <button class="rimShotDrum" {{action 'rimShotDrum' on="mouseEnter"}}><i class="fa fa-database" aria-hidden="true"></i></button><br>

  <button class="clapDrum" {{action 'clapDrum' on="mouseEnter"}}><i class="fa fa-sign-language" aria-hidden="true"></i></button>

  <button class="clap2Drum" {{action 'clap2Drum' on="mouseEnter"}}><i class="fa fa-sign-language" aria-hidden="true"></i></button>

  <button class="crashDrum" {{action 'crashDrum' on="mouseEnter"}}><i class="fa fa-clone" aria-hidden="true"></i></button>

  <button class="openHatDrum" {{action 'openHatDrum' on="mouseEnter"}}><i class="fa fa-circle-o" aria-hidden="true"></i></button>

  <button class="closedHatDrum" {{action 'closedHatDrum' on="mouseEnter"}}><i class="fa fa-circle" aria-hidden="true"></i></button>
</div>

<button class="loop" {{action 'startCount'}}>Start count</button>
